{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('boutique') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('boutique') }}
{% endblock %}

{% block body %}
{% if grouped_produits ?? false %}
	<h1>Suivis des commandes</h1>
    {% for ligne_produits in grouped_produits %}
	<div class="bloc_devis">
	{% if type == 1 %} 
		<h2>{{ligne_produits[0].devis.entreprise.name}} | Commande numéro : {{ligne_produits[0].devis.id}}</h2>
	{% else %}
		<div class="bloc_title_devis">
			<a href="{{ path('viewEntreprise', { id: ligne_produits[0].produit.entreprise.id }) }}"><h2>{{ligne_produits[0].produit.entrepriseName}}   | Commande numéro : {{ligne_produits[0].devis.id}}</h2></a>
		</div>
	{% endif %}
	{% for ligne in ligne_produits %}
		<form action="{{ path('save_devis') }}" method="post">
			<input type="hidden" name="product_id" value="{{ligne.produit.entreprise.id}}">
			<input type="hidden" name="pro" value="{{ligne.produit.id}}">
			<div class="container_produit container_produit--Secondary">
				<div class="bloc_produit">
					{% if ligne.produit.imageURL is null %}
						<img class="img_produit" src="uploads/photos/defaultImage.jpg">
					{% else %}
						<img class="img_produit" src="{{ ligne.produit.imageURL }}">
					{% endif %}
					<div class="desc_produit">
						{% if ligne.produit.inStock == 1 %}
							<p class='green'>En stock</p>
						{% else %}
							<p class='red'>Indisponible</p>
						{% endif %}		
						<h3>{{ligne.produit.name|upper}}</h3>
						<p>{{ligne.produit.description}}</p>	
					</div>
				</div>
				{# ACTION DEVIS / IMPUT : QUANTITE - PRIX #}
				<div class="action_devis">
					{% if type == 2 and ligne.etat == 0 %}
						<p>Renseigner la quantité souhaité :</p>
						<div class="bloc_imput">
							<input type="text" name="quantity" id="quantity" class="input_devis" required>
							<input type="submit" class="button_devis" value="OK !">
						</div>
						<span class='statut_infos'>Pensez à renseigner l'unité de mesure!</span>
					{% endif %}

					{# SET ETAT 1 #}
					{% if type == 2 and ligne.etat == 1 %}
						<span class='statut_devis statut_title'>Statut :</span>
						<p class='statut_devis'>En attente du producteur</p>
						<p>Quantité : {{ligne.quantity}}</p>
					{% endif %}
					{% if type == 1 and ligne.etat == 1 %} 
						<p>Quantité demandée : {{ligne.quantity}}</p>
						<p class='statut_devis'>Renseignez un prix pour la quantité proposé</p>
						<div class="bloc_imput">
							<input type="int" name="price" id="price" class="input_devis" placeholder="00,00" required>
							<span class="text_imput_devis">€</span>
							<input type="submit" class="button_devis" value="OK !">
						</div>
					{% endif %}

					{# SET ETAT 2 #}
					{% if type == 2 and ligne.etat == 2 %} 
						<p>Quantité : {{ligne.quantity}}</p>
						<p class='statut_devis'>Prix proposé : {{ligne.price}} €</p>
						<div class="bloc_imput">
							<input type="submit" name="accepte" class="button_devis" id="accepte" value="Accepter">
							<input type="submit" name="reffuse" id="reffuse" class="button_devis button_devis--Secondary" value="Reffuser">
						</div>
					{% endif %}
					{% if type == 1 and ligne.etat == 2 %}
						<span class='statut_devis statut_title'>Statut :</span>
						<p class='statut_devis'>En attente de l'acheteur</p>
						<p>Quantité : {{ligne.quantity}} | Prix proposé : {{ligne.price}} €</p>
					{% endif %}

					{# SET ETAT 3 #}
					{% if type == 2 and ligne.etat == 3 %} 
						<span class='statut_devis statut_title'>Statut :</span>
						<p class='statut_devis'>Vous avez accepté la proposition, veuillez attendre la validation du fournisseur</p>					
						<p>Quantité : {{ligne.quantity}} | Prix proposé : {{ligne.price}} €</p>
					{% endif %}
					{% if type == 1 and ligne.etat == 3 %} 
						<span class='statut_devis statut_title'>Statut :</span>
						<p class='statut_devis'>L'acheteur à accepté votre proposition</p>					
						<p>Quantité : {{ligne.quantity}} | Prix proposé : {{ligne.price}} €</p>
						<input type="submit" name="valid" id="valid" class="button_devis" value="Generer le devis">
					{% endif %}

					{# SET ETAT 4 #}
					{% if type == 2 and ligne.etat == 4 %} 
						<span class='statut_devis statut_title'>Statut :</span>
						<p class='statut_devis'>Terminée</p>		
						<a href="{{ path('pdf_generator', {'id': ligne.id}) }}">Télécharger le PDF</a>
					{% endif %}
					{% if type == 1 and ligne.etat == 4 %} 
						<span class='statut_devis statut_title'>Statut :</span>
						<p class='statut_devis'>Terminée</p>		
						<a href="{{ path('pdf_generator', {'id': ligne.id}) }}">Télécharger le PDF</a>
					{% endif %}

					{# SET ETAT 5 #}
					{% if type == 2 and ligne.etat == 5 %}
						<span class='statut_devis statut_title'>Statut :</span>
						<p class='statut_devis statut_devis--Secondary'>Vous avez refusé le prix annoncé!</p>	
						<p>Quantité : {{ligne.quantity}} | Prix proposé : {{ligne.price}} €</p>
					{% endif %}
					{% if type == 1 and ligne.etat == 5 %} 
						<span class='statut_devis statut_title'>Statut :</span>
						<p class='statut_devis statut_devis--Secondary'>Le prix proposé à était refusé par l'acheteur !</p>							
					{% endif %}
				</div>			
			</div>
		</form>
	 {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <div class="message">{{ message }}</div>
	<div class="center">
		{% if type != 1  %} 
			<a aria-current="page" class="btn_link_green" href="{{path('app_produit')}}">Découvrez les producteur autour de vous!</a>
		{% endif %}
	</div>
{% endif %}
{% endblock %}