{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('boutique') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('boutique') }}
{% endblock %}

{% block title %}AgriProxi | Mes devis{% endblock %}

{% block title %}AgriProxi | Mes devis{% endblock %}
{% block body %}
{% if grouped_produits ?? false %}
    {% for ligne_produits in grouped_produits %}
	<div class="bloc_devis">
	{% if type == 1 %} 
		<p>Demande envoyée par : {{ligne_produits[0].devis.entreprise.name}}</p>
	{% else %}
		<a class="" href="{{ path('viewEntreprise', { id: ligne_produits[0].produit.entreprise.id }) }}">{{ligne_produits[0].produit.entrepriseName}}</a>
		<p>Commande numéro : {{ligne_produits[0].devis.id}}</p>
	{% endif %}
{# {{dump(ligne_produits)}} #}
	{% for ligne in ligne_produits %}
		<form action="{{ path('save_devis') }}" method="post">
			<input type="hidden" name="product_id" value="{{ligne.produit.entreprise.id}}">
			<input type="hidden" name="pro" value="{{ligne.produit.id}}">
			<div class="container_produit">
				<img class="img_produit" src={{ligne.produit.imageURL}}>
				<div class="desc_produit">
					{% if type > 1 %} 
						{% if ligne.produit.inStock == 1 %}
							<p class='green'>En stock</p>
						{% else %}
							<p class='red'>Indisponible</p>
						{% endif %}		
					{% endif %}
					<h3>{{ligne.produit.name|upper}}</h3>
					{% if type < 1 %} 
						<p>{{ligne.produit.description}}</p>
					{% endif %}							
					{% if type == 2 and ligne.etat == 0 %}
						<input type="text" name="quantity" id="quantity">
						<input type="submit" value="Quantité">
					{% endif %}
					{# SET ETAT 1 #}
					{% if type == 2 and ligne.etat == 1 %}
						<p>En attente du producteur</p>
						<p>Quantité demandée : {{ligne.quantity}}</p>
					{% endif %}
					{% if type == 1 and ligne.etat == 1 %} 
						<p>Quantité demandée : {{ligne.quantity}}</p>
						<input type="int" name="price" id="price" required>
						<input type="submit" value="Prix">
					{% endif %}
					{# SET ETAT 2 #}
					{% if type == 2 and ligne.etat == 2 %} 
						<p>Prix proposé : {{ligne.price}} €</p>
						<input type="submit" name="accepte" id="accepte" value="accepte">
						<input type="submit" name="reffuse" id="reffuse" value="reffuse">
					{% endif %}
					{% if type == 1 and ligne.etat == 2 %}
						<p>Quantité demandée : {{ligne.quantity}}</p>
						<p>Prix proposé : {{ligne.price}} €, veuillez attendre que l'acheteur valide la proposition</p>
					{% endif %}
					{# SET ETAT 3 #}
					{% if type == 2 and ligne.etat == 3 %} 
						<p>Quantité demandée : {{ligne.quantity}}</p>
						<p>Vous avez validé l'offre à {{ligne.price}} € veuillez attendre que le producteur accepte le devis</p>
					{% endif %}
					{% if type == 1 and ligne.etat == 3 %} 
						<p>Quantité demandée : {{ligne.quantity}}</p>
						<p>Le prix proposé : {{ligne.price}} €, à était accepté par l'acheteur ! Validez le devis : </p>
						<input type="submit" name="valid" id="valid" value="Validé!">
					{% endif %}
					{# SET ETAT 4 #}
					{% if type == 2 and ligne.etat == 4 %} 
						<p>Quantité : {{ligne.quantity}}</p>
						<p>Prix : {{ligne.price}} €</p>
						<p>Devis validé ! Voici le pdf </p>
					{% endif %}
					{% if type == 1 and ligne.etat == 4 %} 
						<p>Quantité : {{ligne.quantity}}</p>
						<p>Prix : {{ligne.price}} €</p>
						<p>Devis validé ! Genere le pdf incha'allah!</p>
					{% endif %}
					{# SET ETAT 5 #}
					{% if type == 2 and ligne.etat == 5 %} 
						<p>Prix : {{ligne.price}} €</p>
						<p>Vous avez refusé le prix annoncé!</p>
					{% endif %}
					{% if type == 1 and ligne.etat == 5 %} 
						<p>Le prix proposé : {{ligne.price}} € à était refusé par l'acheteur !</p>
					{% endif %}
				</div>
			</div>
		</form>
	 {% endfor %}
    </div>
    {% endfor %}
{% else %}
    <div class="message">{{ message }}</div>
{% endif %}
{% endblock %}