{% extends 'base.html.twig' %}

{% block title %}AgriProxi | Adresse{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('adresse') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adresse') }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mon adresse</h1>

    <form method='POST' id="createAdresse">
        <div class="divForm">
            <label for="label">Adresse</label>
            <input type="text" name="label" id="label" required>
        </div>
        <div class="divForm">
            <label for="complement">Complément</label>
            <input type="textarea" name="complement" id="complement">
        </div>
        <div class="divForm">
            <label for="zip_code">Code Postal</label>
            <input type="text" name="zip_code" id="zip_code" required>
        </div>
        <div class="divForm">
            <label for="ville">Ville</label>
            <input type="text" name="ville" id="ville" required>
            <input type="hidden" name="villeId" id="villeId">
            <div id="displayCities"></div>
        </div>
        <div class="divForm">
            <input type="submit" value='Enregistrer' name="submitAdresse">
        </div>
        <input type="hidden" name="latitude" id="latitude" placeholder="latitude">
        <input type="hidden" name="longitude" id="longitude" placeholder="longitude">
    </form>
    
    </div>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    
    {% if app.user %}
    <a href="{{path('app_user')}}">Retour</a>
    {% endif %}

</div>
{% endblock %}