{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block title %}Salut bande de tocards!{% endblock %}

{% block body %}
<div id='products'>
    <div id="map"></div>

    <div id="product_search">
        <form id="search_filter">
            <label for="categorie">Catégorie:</label>
            <select name ="categorie" id="categorie">
                <option value="">Choisissez une catégorie:</option>
            </select>
            <label for="subCategorie">Sous-catégorie:</label>
            <select name ="subCategorie" id="subCategorie">
                <option value="">Choisissez une sous-catégorie:</option>
                {% for subCategorie in subCategories %}
                    <option value=' {{subCategorie.id}} '> {{subCategorie.name}} </option>
                {% endfor %}
            </select>
            <button class="btn_link" type="submit">Rechercher</button>
        </form>

        <div id="search_result">
            {% for produit in produits %}
                <div>
                    <h3> {{produit.name}} </h3>
                    <p> {{produit.description}} </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}