{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('boutique') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('boutique') }}
{% endblock %}

{% block title %}Ma boutique
{% endblock %}

{% block body %}
	{# BLOC : PRODUIT ENTREPRISE  #}
	{% for produit in produits %}
		<div class="container_produit">
			<img class="img_produit" src={{produit.imageURL}}>
			<div class="desc_produit">
				{% if produit.inStock == 1 %}
					<p class='stock'>En stock</p>
					{%else%}
					<p class='indispo'>Indisponible</p>
				{% endif %}
				<h3>{{produit.name|upper}}</h3>
				<p>{{produit.description}}</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}
