{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('boutique') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('boutique') }}
{% endblock %}

{% block title %}Agriproxi | Ma boutique
{% endblock %}

{% block body %}
	<h1>Mon catalogue de produits</h1>

	<div class="message">
		<p>{{ message }}</p>
	</div>

	<a class="btn_link" href="{{path('createProduit')}}">Ajouter un produit</a>
	
	{# BLOC : PRODUIT ENTREPRISE  #}
	{% for produit in produits %}
		<div class="container_produit">
			<div class="bloc_produit">
				{% if produit.imageURL is null %}
					<img class="img_produit" src="uploads/photos/defaultImage.jpg">
				{% else %}
					<img class="img_produit" src="{{ produit.imageURL }}">
				{% endif %}
				<div class="desc_produit">
					{% if produit.inStock == 1 %}
						<p class='green'>En stock</p>
					{% else %}
						<p class='red'>Indisponible</p>
					{% endif %}
					<h3>{{produit.name|upper}}</h3>
					<p>{{produit.description}}</p>
				</div>
			</div>
			{# BLOC UPDATE / DELETE PRODUIT #}
			<div class="update_produit">
				<form action="{{path('updateProduit',{id: produit.id})}}">
					<button class="green bloc_icon" href="">Modifier
						<ion-icon name="refresh-circle-sharp" class="produit_icon"></ion-icon>
					</button>
				</form>
				<button class="myBtn red bloc_icon" data-href="{{path('deleteProduit',{id: produit.id})}}" href="">Supprimer
					<ion-icon name="close-circle-sharp" class="produit_icon"></ion-icon>
				</button>
			</div>
		</div>
	{% endfor %}

	{# MODAL DELETE #}
	<div class="myModal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h3>Etes vous sur de vouloir supprimer ce produit ?</h3>
			<a class="red bloc_icon" id="my-link" href="#">Supprimer<ion-icon name="close-circle-sharp" class="produit_icon"></ion-icon></a>
		</div>
	</div>
{% endblock %}
