{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('boutique') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('boutique') }}
{% endblock %}

{% block title %}Ma boutique
{% endblock %}

{% block body %}
<h1>Mon catalogue</h1>
<a class="btn_link btn_produit" href="{{path('createProduit')}}">Ajouter un produit</a>
{# BLOC : PRODUIT ENTREPRISE  #}
{% for produit in produits %}
	<div class="container_produit">
		<img class="img_produit" src={{produit.imageURL}}>
		<div class="desc_produit">
			{% if produit.inStock == 1 %}
				<p class='green'>En stock</p>
				{%else%}
				<p class='red'>Indisponible</p>
			{% endif %}
			<h3>{{produit.name|upper}}</h3>
			<p>{{produit.description}}</p>
		</div>
		<div class="update_produit">
			<a class="green bloc_icon" href="{{path('updateProduit',{id: produit.id})}}">Modifier
				<ion-icon name="refresh-circle-sharp" class="produit_icon"></ion-icon>
			</a>
			<button class="myBtn red bloc_icon" data-href="{{path('deleteProduit',{id: produit.id})}}" href="">Supprimer
				<ion-icon name="close-circle-sharp" class="produit_icon"></ion-icon>
			</button>

		</div>
	</div>

</div>
{% endfor %}
<!-- The Modal -->
<div class="myModal">
	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<a id="my-link" href="#">Delete Produit</a>
		{# <a class="red bloc_icon" href="{{path('deleteProduit',{id: produit.id})}}">Supprimer
			<ion-icon name="close-circle-sharp" class="produit_icon"></ion-icon>
		</a> #}
	</div>
</div>
{% endblock %}
