{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block title %}Agriproxi | Producteurs{% endblock %}

{% block body %}

<input type="hidden" id="latitude" value = "{{latitude}}"/>
<input type="hidden" id="longitude" value = "{{longitude}}"/>
<h1>Ici, vous pouvez rechercher les producteurs les plus proches de chez vous!</h1>
<div class="banner_sec banner_sec--Secondary">
    <img src="{{ asset('build/images/vegetable.jpg') }}" class="img_banner_sec img_banner_sec--Secondary" alt="">
    <div class="black_banner_sec black_banner_sec--Secondary">
        <div class="entreprise_search">
            <label for="entreprise"><h2 class="text_bbs text_bbs--Secondary">Par son nom :</h2></label>
            <input type="text" id="entreprise" placeholder="Nom de l'entreprise" name="entreprise">
            <div id="displayEntreprises"></div>          
        </div>
    </div>
</div>
<h2 class="text_bbs text_bbs--Secondary">Où grâce à notre carte interactive !</h2>
<div id='products'>
    <div id="map"></div>
    <div id="product_search">
        <form id="search_filter">
            <div class ="selectors">
                <div>
                    <label for="categorie">Categories:</label>
                    <select name ="categorie" id="categorie">
                        <option value="a">Catégorie:</option>
                        {% for categorie in categories %}
                            <option value=' {{categorie.id}} '> {{categorie.name}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="subCategorie">Sous-catégorie:</label>
                    <select name ="subCategorie" id="subCategorie">
                        <option value="a" selected="selected">Toutes</option>
                    </select>
                </div>
            </div>
            <div class ="selectors">
                <div>
                    <label for="adresse">Votre adresse:</label>
                    <select name="adresse" id="adresse">
                        {% for adresse in adresses %}
                            <option value=' {{adresse.id}} '> {{adresse.label}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <h3 id='start'>Commencez votre recherche !</h3>
        <div id="search_result">
        
        </div>
    </div>
</div>

{% endblock %}