{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const coordinatesProduits = {{ coordinatesProduits|json_encode|raw }};
    </script>
    {{ encore_entry_script_tags('map') }}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block title %}Salut bande de tocards!{% endblock %}

{% block body %}
{# {{ dump(coordinatesProduits) }} #}

<button class="btn_link_green" id="prout">PROUT</button>
<input type="hidden" id="latitude" value = "{{latitude}}"/>
<input type="hidden" id="longitude" value = "{{longitude}}"/>
<input type="hidden" id="zoomLevel" value = "{{zoomLevel}}"/>
<div id='products'>
    <div id="map"></div>
    <div id="product_search">
        <form id="search_filter">
                <label for="adresse"></label>
                <select name="adresse" id="adresse">
                    {% for adresse in adresses %}
                        <option value=' {{adresse.id}} '> {{adresse.label}} </option>
                    {% endfor %}
                </select>
            <div>
                <label for="categorie"></label>
                <select name ="categorie" id="categorie">
                    <option value="">Catégorie:</option>
                    {% for categorie in categories %}
                        <option value=' {{categorie.id}} '> {{categorie.name}} </option>
                    {% endfor %}
                </select>
                <label for="subCategorie"></label>
                <select name ="subCategorie" id="subCategorie">
                    {# <option value="">Sous-catégorie:</option>
                    {% for subCategorie in subCategories %}
                        <option class="{{subCategorie.categorie.id}}" value=' {{subCategorie.id}} '> {{subCategorie.name}} </option>
                    {% endfor %} #}
                </select>
            </div>
            <div>
                <label for="rayon">Distance:</label>
                <select name="rayon" id="rayon">
                    <option value="0"> Toute la région </option>
                    <option value="10"> 10km </option>
                    <option value="25"> 25km </option>
                    <option value="50"> 50km </option>
                    <option value="100"> 100km </option>
                </select>
            </div>
            <input class="btn_link" type="submit" value="Rechercher"></select>
        </form>
        <div id="search_result">
            {% for produit in produits %}
            <input type="hidden" class="nomEntreprise" id="{{produit.entreprise.id}}" value = "{{produit.entreprise.name}}"/>
            <div class="product_card">
                <div class="product_desc">
                    <div class="card_image">
                        {# <img src="{{ asset('build/images/placeholder_612x612.jpg') }}" alt="product_image" width="100" height="100"> #}
                        <img class="product_img" src="{{ produit.imageUrl }}" alt="product_image" width="200" height="200">
                    </div>
                    <div class="card_text">
                        <h3> {{ produit.name }} </h3>
                        <a href="{{ path('viewEntreprise', { id: produit.entreprise.id }) }}">{{ produit.entreprise.name }}</a>
                        <p> {{ produit.description }} </p>
                        <h3 class= "{{ produit.entreprise.id }}{{ produit.entreprise.name }}">  <h3>
                    </div>
                </div>
                <div class="card_btn">
                    <button class="btn_link_green">Ajouter à votre liste de commande</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}