{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

{% block title %}Agriproxi | Accueil
{% endblock %}

{% block body %}
    <h1>AgriProxi, la start-up qui vous réunit !</h1>
    <div class="cards_sec">
        <img src="{{ asset('build/images/poster.png') }}" class="card_img_1" alt=""> 
    
        <div class="card_present">
            <h2>Pour les producteurs,</h2>
            <p class='img_c1'>On vous permet d'être visible au prés de vos potentiel futur client, mais aussi d'avoir un espace commandes, où vous retrouverez les propositions d'achât de vos produits. Nous avons également mis en place un systeme de devis, qui vous permez directement de passez à l'étape suivante : la vente!</p>
            <h2>Pour les acheteur,</h2>
            <p>Une carte intéractive vous permez de retrouvez les producteurs les plus proches de chez vous, avec une estimation de la distance, mais également l'empreinte carbonne estimé pour la livraison de vos produits.
            <br>Profitez de votre espace commande qui vous permet de faire des demandes devis, directement au producteur, en fonction de la quantité que vous avez demandé, il vous informera de ses tarifs, et vous n'aurez qu'à choisir!
        </div>
    </div>
    </div>
    <div class="cards">
        <div class="card_contain">
            <h2>On vous aide,</h2>
            <div class="card_content">
                <p>à trouver les producteurs les plus proche de vos points de vente, tout en respectant vos contraintes économiques, technique ect..</p>
                <img src="{{ asset('build/images/handshake.png') }}" class="def_icon" alt="">
            </div>
        </div>

        <div class="card_contain card_contain--Secondary">
            <h2>On s’entraide,</h2>
            <div class="card_content">
                <p>et on préserve au mieux notre planète, en priorisant le commerce de proximité et en disminuant notre impact carbonne.</p>
                <img src="{{ asset('build/images/map.png') }}" class="def_icon" alt="">
            </div>
        </div>
    </div>
    <div class="desc">
        <h1>En 2022, 0000 producteurs nous on fait confiance !</h2>
        <p>En moyenne, nos producteurs partenaires ont divisé par 2 leurs empreinte carbonne. Ils ont aussi aidé les producteurs.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. En moyenne, nos producteurs partenaires ont divisé par 2 leurs empreinte carbonne. Ils ont aussi aidé les producteurs.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</p>
    </div>
    <div class="banner_sec">
        <img src="{{ asset('build/images/vegetable.jpg') }}" class="img_banner_sec" alt="">
        <div class="black_banner_sec">
            <p class="text_bbs">Consultez la liste des producteurs,<br>les plus proche de chez vous !</p>
            <form action="{{path('app_produit')}}">
                <button class="btn_link_green">PAR ICI !</button>
            </form>            

        </div>
    </div>
    <div class="cards_sec">
        <img src="{{ asset('build/images/coursier.jpg') }}" class="card_img" alt="">   
        <div class="card_present">
            <h2>Qui sommes-nous ?</h2>
            <p>« Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique ligula justo vitae magna.»</p>
        </div>
    </div>
    <div class="desc">
        <h1>Le circuit court, comment ça marche ?</h2>
        <img src="{{ asset('build/images/prod_connect.png') }}" class="img" alt="">   
    </div>
{% endblock %}
