{% block stylesheets %}
    {{ encore_entry_link_tags('pdf') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('pdf') }}
{% endblock %}

<style>
    h1 {
        font-size: 18px;
        text-align: center;
        color: blue;
    }
    h2 {
        font-size: 14px;
        font-weight: bold;
    }

    p {
        font-size : 13px;
    }

    table {
        border: solid 1px black;
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
    }

    th{
        border: solid 1px black;
    }

    td{
        border: solid 1px black;
    }

    .destC {
        text-align: right;
        padding-bottom: 80px;
    }

    .date {
        text-align: right;
        padding-right: 30px;
    }
</style>

{% block body %}
    {# Producteur #}
    <div class="destP">
        <h2>Producteur<h2>
        <p>{{data.devis.entreprise.name|upper}}</p>
        {% for adresse in adresseP %}
            <p>{{ adresse.label }}</p>
            {% if adresse.complement %}
                <p>{{ adresse.complement }}</p>
            {% endif %}
            <p>{{ adresse.zipCode }}</p>
            <p>{{ adresse.ville }}</p>
        {% endfor %}
    </div>

    {# Acheteur #}
    <div class="destC">
        <h2>Client<h2>
        <p>{{data.produit.entreprise.name}}</p>
        {% for adresse in adresseA %}
            <p>{{ adresse.label }}</p>
            {% if adresse.complement %}
                <p>{{ adresse.complement }}</p>
            {% endif %}
            <p>{{ adresse.zipCode }}</p>
            <p>{{ adresse.ville }}</p>
        {% endfor %}
    </div>

    <h1>Devis | Commande n°{{data.id}}</h1>

    {# Produit #}
    <table>
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.produit.name}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.price}} €</td>
            </tr>
        </tbody>
    </table>

    {# Signature #}
    <div class="date">
        {% for adresse in adresseP %}
            <p>Le 25/01/2023 à {{ adresse.ville }}</p>
            <p>Signature :</p>
        {% endfor %}
    </div>
{% endblock %}
