{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mon profil</h1>
    <div>
        <div>
            <h2>Mes utilisateur</h2>
            <ul>
                <li>Nom: {{ user.lastName }}</li>
                <li>Prénom: {{ user.firstName }}</li>
                <li>Email: {{ user.email }}</li>
            </ul>
        </div>
        <div>
            <h2>Mon entreprise</h2>
            <ul>
                <li>Nom: {{ entreprise.name }}</li>
                <li>Descritpion: {{ entreprise.description }}</li>
            </ul>
        </div>
        <div>
            <h2>Mon adresse</h2>
            {# {% for adresses as adresse %}
            <ul>
                <li>Label: {{ adresse.label }}</li>
                <li>Code Postal: {{ adresse.zipCode }}</li>
                <li>Ville: {{ adresse.ville }}</li>
                <li>Email: {{ adresse.departement }}</li>
            </ul>
            {% endfor %} #}
        </div>
    <div>
</div>
{% endblock %}
